body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
}
img {
  max-width: 350px;
  border-radius: 10px 10px 0px 0px;
  display: block;
}
h1,
p,
span,
body {
  padding: 0;
  margin: 0;
}
section {
  max-width: 1100px;
  border-radius: 10px;
}
.display-text {
  max-width: 350px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.text-introdução h1 {
  margin-bottom: 10px;
}
.plano-text {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #f8f9fe;
  gap: 15px;
  padding: 20px;
  margin: 0px 30px;
  border-radius: 5px;
  align-items: center;
}
span {
  display: block;
}
.display-text {
  background-color: white;
  border-radius: 0 0 10px 10px;
}
.plano-text img {
  margin-right: 10px;
  background-color: #f8f9fe;
}
.text-introdução {
  text-align: center;
  margin: 0px 30px;
}
.text-introdução p,
.preço-plano {
  color: #8586a3;
}
.button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.pagamento {
  background-color: #382ae1;
  width: 220px;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  color: white;
  border: transparent;
}
.cancelar {
  border: none;
  margin-bottom: 20px;
  background-color: transparent;
  cursor: pointer;
}
.nome-plano {
  font-weight: 700;
}
